:root {
   --logo-text-color: #000000;
   --secondary-text-color: #757575;
   --main-text-color: #212121;
   --white-main-color: #ffffff;
   --accent-color: #2196f3;
   --bg-secondary-color: #2f303a;
   --bg-team-color: #f5f4fa;
   --icon-color: #AFB1B8;
}

body {
   font-family: roboto, sans-serif;
   color: var(--main-text-color);
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-bottom: 0;
   margin-top: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}




.container {
   width: 1200px;
   padding-right: 15px;
   padding-left: 15px;
   /*outline: 2px solid red;*/
   margin-right: auto;
   margin-left: auto;
   text-align: center;
}

.header {
   background-color: var(--white-main-color);
   border-bottom: 1px solid #ECECEC;
}

.header .container {
   display: flex;
   align-items: center;
   margin-bottom: 0;
}

.logo {

   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   text-decoration: none;
   color: var(--logo-text-color);
   letter-spacing: 0.03em;
}

.main-nav,
.pages-list {
   display: flex;
   align-items: center;
}




.logo-blue {
   color: var(--accent-color);
}

.page {
   display: inline-block;
   padding-bottom: 32px;
   padding-top: 32px;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   text-decoration: none;
   color: var(--main-text-color);
}

.pages-list-item {
   margin-left: 50px;
}

.pages-list-item:first-child {
   margin-left: 92px;
}



.page:visited {
   color: inherit;
}

.page:hover,
.page:focus {
   color: var(--accent-color);
}

.contacts-block {
   display: flex;
   margin-left: auto;


}

.contacts {
   display: flex;
   align-items: center;
   letter-spacing: 0.02em;
   font-weight: 500;
   font-style: normal;
   font-size: 14px;
   line-height: 1.1;
   color: var(--secondary-text-color);
   text-decoration: none;
}

.contacts-icon {

   fill: currentColor;
   margin-right: 10px;
   margin-left: 30px;
}

.icon-firts-child {
   margin-left: 0;
}








.contacts:hover,
.contacts:focus {
   color: var(--accent-color);

}

.contacts-icon:hover {
   fill: var(--accent-color);
}

.banner {
   max-width: 1600px;
   height: 600px;
   margin-right: auto;
   margin-left: auto;
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/banner-bg.jpg);


   text-align: center;
   padding-top: 200px;
   padding-bottom: 200px;
}

.banner-title {
   margin-bottom: 30px;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.4;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   color: var(--white-main-color);
}

.banner-button {
   display: inline-block;
   padding: 10px 32px;

   font-family: Roboto;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.06em;
   color: var(--white-main-color);
   background: #2196f3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
   cursor: pointer;
}

.advantage {
   background-color: var(--white-main-color);
   padding-top: 94px;
   padding-bottom: 94px;
}




.advantage-list {
   display: flex;
}

.icon-block {
   height: 120px;
   background-color: #F5F4FA;
   border-radius: 4px;
   margin-bottom: 30px;
}

.advantage-list-icon {
   margin: 25px 100px;
}


.advantage-list-item {
   margin-left: 30px;
}

.advantage-list-item:first-child {
   margin-left: 0;
}

.advantage-tittle {
   margin-bottom: 10px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-align: left;
   text-transform: uppercase;

}

.advantage-dicr {
   width: 270px;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   text-align: left;
   color: var(--secondary-text-color);
}

.about {
   background-color: var(--white-main-color);
   padding-bottom: 94px;
}

.about-list {
   display: flex;
}

.about-list-item {
   margin-right: 30px;
}

.about-list-item:last-child {
   margin-right: 0;
}

.tittle {
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;

   letter-spacing: 0.03em;
}

.team {
   background-color: var(--bg-team-color);
   padding-top: 94px;
   padding-bottom: 94px;
}

.team-list {
   display: flex;
}

.team-list-item {
   margin-left: 30px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0 0 4px 4px;
   background-color: var(--white-main-color);
}

.team-soc-net {
   display: flex;
   margin-left: 32px;
   margin-right: 32px;
   margin-bottom: 30px;
   justify-content: center;
}

.soc-net-item {
   margin-left: 10px;
}

.soc-net-item:first-child {
   margin-left: 0;
}

.soc-net-link {
   display: block;
   padding: 12px;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   color: var(--icon-color);
}

.soc-net-link:first-child {
   margin-left: 0;
}

.soc-net-icon {
   fill: currentColor;

}

.soc-net-link:hover {
   color: var(--white-main-color);
   background-color: var(--accent-color);
}







.team-list-item:first-child {
   margin-left: 0;
}



.name-position {
   margin-top: 30px;
   margin-bottom: 16px;

   border-radius: 0 0 4px 4px;
}

.team-name {
   margin-bottom: 10px;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}

.team-position {
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);

}

.clients {
   padding-top: 94px;
   padding-bottom: 94px;
}

.clients-list {
   display: flex;
}

.clients-list-item {
   margin-left: 30px;
}

.clients-list-item:first-child {
   margin-left: 0;
}

.clients-list-link {
   display: block;
   width: 170px;
   color: var(--icon-color);
   border: 1px currentColor solid;
   border-radius: 4px;
}

.clients-list-link:hover {
   color: var(--accent-color);
}

.clients-list-icon {
   fill: currentColor;
   margin: 16px 32px;
}

.footer {
   background-color: var(--bg-secondary-color);
   padding-bottom: 60px;
   padding-top: 60px;
}

.footer-container {
   display: flex;
   align-items: baseline;
}

.logo-footer {
   margin-bottom: 20px;
   display: block;

   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   text-decoration: none;
   text-align: left;
   letter-spacing: 0.03em;

   color: var(--white-main-color);
}

.superscription {
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 1.7;
   font-style: normal;
   color: var(--white-main-color);
   letter-spacing: 0.03em;
   text-align: left;
}

.address {
   display: flex;
   flex-direction: column;
   text-align: left;
}

.contacts-footer {
   color: rgba(255, 255, 255, 0.6);
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   text-decoration: none;
   font-style: normal;
   text-align: left;
}

.join-in {
   margin-left: 70px;
}

.footer-text {
   display: block;
   margin-bottom: 20px;

   text-align: left;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--white-main-color);
}

.footer-list {
   margin-left: 0;
   margin-right: 0;
}

.footer-link {
   color: white;
   background-color: rgba(255, 255, 255, 0.1);
}


.first {
   margin-bottom: 10px;
}



.contacts-footer:hover,
.contacts-footer:focus {
   color: var(--accent-color);
}

/* Portfolio */



.portfolio-main {
   padding-top: 94px;
   padding-bottom: 94px;
}

.filter-list {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.filter-list-item {
   margin-left: 8px;
}

.filter-list-item:first-child {
   margin-left: 0;
}


.filter {
   display: inline-block;
   padding: 6px 22px;
   font-family: roboto;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   letter-spacing: 0.03em;
   color: var(--main-text-color);
   background: #f5f4fa;
   border-radius: 4px;
   border: none;
   cursor: pointer;
}



.filter:hover,
.filter:focus {
   color: var(--white-main-color);
   background: #2196f3;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
}

.projects-list {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
}

.projects-list-item {
   margin: 15px;
   box-sizing: border-box;
}

.projects-list-item:hover {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-box {
   border: 1px solid #EEEEEE;
   border-top: none;
   padding: 20px 24px;
   text-align: left;
}

.project-img {
   display: block;
}

.project-name {


   margin-bottom: 4px;
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.project-type {

   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}